body {
  background-image: url("https://i.imgur.com/xt9y1Fb.png");
  margin: 45px;
  font-family:Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bkGrey{
  background-color: rgba(143, 143, 143, 0.144);
}

.centText{
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}